h1 {
  text-align: center;
}

figcaption {
  font-size: 0.8rem;
}

#tribute-details {
  width: 80vw;
  text-align: left;
  margin: auto;
  border: 1px solid red;
}

#img-div {
  width: 100vw;
  height: 90vh;
  text-align: center;
}

img {
  max-width: 80%;
  display: block;
  margin: auto;
}

iframe {
    display: block;
    margin: auto;
}
